<form class="form-horizontal" name="todoForm" novalidate 
ng-submit="todoForm.$valid && FormCtrl.addNewItem()">

	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">
			Description:
		</label>
		<div class="col-sm-10">
			<input 
			type="text" class="form-control" required
			id="description"
			ng-model="FormCtrl.newItem.description">
		</div>
	</div>

	<div class="form-group">
		<label for="responsible" class="col-sm-2 control-label">
			Responsible:
		</label>
		<div class="col-sm-10">
			<select id="responsible" class="form-control" ng-model="FormCtrl.responsibleName" required>
				<option ng-repeat="user in FormCtrl.model.users" value = "{{user.name}}">
					{{user.name}}
				</option>
				
			</select>
		</div>

	</div>

	<div class="form-group">
		<label for="est-hours" class="col-sm-2 control-label">
			Established Hours:
		</label>
		<div class="col-sm-10">
			<input type="number" min=1 class="form-control" required
			id="est-hours"
			ng-model="FormCtrl.newItem.estHours">
		</div>
	</div>

	<div class="form-group">
		<label for="deadline" class="col-sm-2 control-label">
			Deadline:
		</label>
		<div class="col-sm-10">
			<input type="date" class="form-control" required
			id="deadline"
			ng-model="FormCtrl.newItem.deadline">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button ng-disabled="!todoForm.$valid"
			type="submit" class="btn btn-success">
				Add Task
			</button>
		</div>
	</div>
	
</form>



