<div class="panel">

	<label>
		<input type="checkbox" ng-model="TableCtrl.showComplete">
		Show completed
	</label>
	<button class="ml25 btn btn-danger" ng-click="TableCtrl.removeComplited()">
		Delete all complited
	</button>
	<button class="ml25 btn btn-success" ng-click="TableCtrl.loadFromServer()">
		Load tasks from servers
	</button>

	<div class="pull-right col-md-4 form-group">

		<input type="text" class="form-control"
			ng-model="TableCtrl.searchQuery"
			placeholder="Search for task in description or responsible">
	</div>


	<table class="table table-striped">

		<thead>
			<tr>
				<th>#</th>
				<th ng-click="TableCtrl.sort('description')">
					Description
					<i ng-class="TableCtrl.glyphicon('description')"></i>
				</th>
				<th ng-click="TableCtrl.sort('responsible')">
					Responsible
					<i ng-class="TableCtrl.glyphicon('responsible')"></i>
				</th>
				<th ng-click="TableCtrl.sort('estHours')">
					Est. Hours
					<i ng-class="TableCtrl.glyphicon('estHours')"></i>
				</th>
				<th ng-click="TableCtrl.sort('deadline')">
					Deadline
					<i ng-class="TableCtrl.glyphicon('deadline')"></i>
				</th>
				<th>Checkbox</th>
				<th>Done</th>
				<th>Delete</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="
					item in TableCtrl.model.items  
					| filter: TableCtrl.search
					| checkedItems : TableCtrl.showComplete 
					| orderBy : TableCtrl.sortField : TableCtrl.sortReverse
					| limitTo : TableCtrl.showTasksPerPage : TableCtrl.firstTaskShown
			"> 
				<td>{{$index + 1 + +TableCtrl.firstTaskShown}}</td>
				<td>
					<a ng-href="#/editTask/{{ $index }}">
						{{item.description}}
					</a>
				</td>
				<td>{{item.responsible}}</td>
				<td>{{item.estHours}}</td>
				<td>{{item.deadline | date:'HH:mm dd MMM yyyy'}}</td>
				<td><input type="checkbox" ng-model="item.done" ng-click="TableCtrl.saveChanges()"></td>
				<td>{{item.done}}</td>
				<td>
					<button class="btn" 
						ng-click="TableCtrl.remove($index)"
						ng-class="item.done ? 'btn-success' : 'btn-warning'">
						Del
					</button>
				</td>
			</tr> 

		</tbody>
	</table>

	<button 
		class="btn btn-success" 
		ng-click="TableCtrl.prevPage()"
		ng-disabled="TableCtrl.firstTaskShown <= 0">
		Prev
	</button>
	<button 
		class="btn btn-success" 
		ng-click="TableCtrl.nextPage()"
		ng-disabled="TableCtrl.firstTaskShown > TableCtrl.model.items.length - +TableCtrl.showTasksPerPage - 1">
		Next
	</button>
	<label class="ml25">
		Show per page
		<select ng-model="TableCtrl.showTasksPerPage">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="20">20</option>
		</select>
	</label>


</div>